## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [1]:
import pandas as pd
import numpy as np
from pymystem3 import Mystem
from collections import Counter
m = Mystem()
data = pd.read_csv('/datasets/data.csv')
print(data.info())
print('')
print(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

       children  days_employed  dob_years            education  education_id  \
0             1   -8437.673028         42               высшее             0
1             1   -4024.803754         36              среднее             1
2             0   -5623.422610         33              Среднее             1
3             3   -4124.747207         32              среднее             1
4             0  340266.072047         53              среднее             1
5             0    -926.185831         27               высшее             0
6             0   -2879.202052         43               высшее             0
7             0    -152.779569         50              СРЕДНЕЕ             1
8             2   -6929.865299         35               ВЫСШЕЕ             0
9             0   -2188.756445         41              среднее             1
10            2   -4171.483647         36               высшее             0
11            0    -792.701887         40              среднее             1
12            0            NaN         65              среднее             1
13            0   -1846.641941         54  неоконченное высшее             2
14            0   -1844.956182         56               высшее             0
15            1    -972.364419         26              среднее             1
16            0   -1719.934226         35              среднее             1
17            0   -2369.999720         33               высшее             0
18            0  400281.136913         53              среднее             1
19            0  -10038.818549         48              СРЕДНЕЕ             1
20            1   -1311.604166         36              среднее             1
21            1    -253.685166         33              среднее             1
22            1   -1766.644138         24              среднее             1
23            0    -272.981385         21               высшее             0
24            1  338551.952911         57              среднее             1
25            0  363548.489348         67              среднее             1
26            0            NaN         41              среднее             1
27            0    -529.191635         28               высшее             0
28            1    -717.274324         26               высшее             0
29            0            NaN         63              среднее             1
...         ...            ...        ...                  ...           ...
21495         1            NaN         50              среднее             1
21496         1    -759.680851         31              среднее             1
21497         0            NaN         48               ВЫСШЕЕ             0
21498         1   -1330.627998         32              среднее             1
21499         0   -9929.015065         57              среднее             1
21500         0    -578.082757         26  неоконченное высшее             2
21501         0  334343.096304         57              среднее             1
21502         1            NaN         42              среднее             1
21503         0   -3096.881131         58              среднее             1
21504         0  355235.728158         68              среднее             1
21505         0  338904.866406         53              среднее             1
21506         1   -1556.249906         33               ВЫСШЕЕ             0
21507         1     -79.832064         32              среднее             1
21508         0  386497.714078         62              среднее             1
21509         0  362161.054124         59               высшее             0
21510         2            NaN         28              среднее             1
21511         0    -612.569129         29               высшее             0
21512         0    -165.377752         26               высшее             0
21513         0   -1166.216789         35              среднее             1
21514         0    -280.469996         27  неоконченное высшее             2
21515         1    -467.685130         28              среднее             1
21516         0    -914.391429         42               высшее             0
21517         0    -404.679034         42               высшее             0
21518         0  373995.710838         59              СРЕДНЕЕ             1
21519         1   -2351.431934         37       ученая степень             4
21520         1   -4529.316663         43              среднее             1
21521         0  343937.404131         67              среднее             1
21522         1   -2113.346888         38              среднее             1
21523         3   -3112.481705         38              среднее             1
21524         2   -1984.507589         40              среднее             1

               family_status  family_status_id gender  income_type  debt  \
0            женат / замужем                 0      F    сотрудник     0
1            женат / замужем                 0      F    сотрудник     0
2            женат / замужем                 0      M    сотрудник     0
3            женат / замужем                 0      M    сотрудник     0
4           гражданский брак                 1      F    пенсионер     0
5           гражданский брак                 1      M    компаньон     0
6            женат / замужем                 0      F    компаньон     0
7            женат / замужем                 0      M    сотрудник     0
8           гражданский брак                 1      F    сотрудник     0
9            женат / замужем                 0      M    сотрудник     0
10           женат / замужем                 0      M    компаньон     0
11           женат / замужем                 0      F    сотрудник     0
12          гражданский брак                 1      M    пенсионер     0
13           женат / замужем                 0      F    сотрудник     0
14          гражданский брак                 1      F    компаньон     1
15           женат / замужем                 0      F    сотрудник     0
16           женат / замужем                 0      F    сотрудник     0
17          гражданский брак                 1      M    сотрудник     0
18            вдовец / вдова                 2      F    пенсионер     0
19                 в разводе                 3      F    сотрудник     0
20           женат / замужем                 0      M    сотрудник     0
21          гражданский брак                 1      F    сотрудник     0
22          гражданский брак                 1      F    сотрудник     0
23          гражданский брак                 1      M    сотрудник     0
24     Не женат / не замужем                 4      F    пенсионер     0
25           женат / замужем                 0      M    пенсионер     0
26           женат / замужем                 0      M  госслужащий     0
27           женат / замужем                 0      M    сотрудник     0
28           женат / замужем                 0      F    сотрудник     0
29     Не женат / не замужем                 4      F    пенсионер     0
...                      ...               ...    ...          ...   ...
21495       гражданский брак                 1      F    сотрудник     0
21496        женат / замужем                 0      F    сотрудник     0
21497        женат / замужем                 0      F    компаньон     0
21498       гражданский брак                 1      M    сотрудник     0
21499       гражданский брак                 1      M    компаньон     0
21500  Не женат / не замужем                 4      M    компаньон     0
21501        женат / замужем                 0      F    пенсионер     0
21502        женат / замужем                 0      F    сотрудник     0
21503        женат / замужем                 0      F    сотрудник     0
21504        женат / замужем                 0      F    пенсионер     0
21505       гражданский брак                 1      M    пенсионер     0
21506       гражданский брак                 1      F    сотрудник     0
21507       гражданский брак                 1      F  госслужащий     0
21508        женат / замужем                 0      M    пенсионер     0
21509        женат / замужем                 0      M    пенсионер     0
21510        женат / замужем                 0      F    сотрудник     0
21511       гражданский брак                 1      F    сотрудник     1
21512  Не женат / не замужем                 4      M    компаньон     0
21513        женат / замужем                 0      F    сотрудник     0
21514  Не женат / не замужем                 4      M    компаньон     0
21515        женат / замужем                 0      F    сотрудник     1
21516        женат / замужем                 0      F    компаньон     0
21517       гражданский брак                 1      F    компаньон     0
21518        женат / замужем                 0      F    пенсионер     0
21519              в разводе                 3      M    сотрудник     0
21520       гражданский брак                 1      F    компаньон     0
21521        женат / замужем                 0      F    пенсионер     0
21522       гражданский брак                 1      M    сотрудник     1
21523        женат / замужем                 0      M    сотрудник     1
21524        женат / замужем                 0      F    сотрудник     0

        total_income                                 purpose
0      253875.639453                           покупка жилья
1      112080.014102                 приобретение автомобиля
2      145885.952297                           покупка жилья
3      267628.550329              дополнительное образование
4      158616.077870                         сыграть свадьбу
5      255763.565419                           покупка жилья
6      240525.971920                       операции с жильем
7      135823.934197                             образование
8       95856.832424                   на проведение свадьбы
9      144425.938277                 покупка жилья для семьи
10     113943.491460                    покупка недвижимости
11      77069.234271       покупка коммерческой недвижимости
12               NaN                         сыграть свадьбу
13     130458.228857                 приобретение автомобиля
14     165127.911772              покупка жилой недвижимости
15     116820.904450  строительство собственной недвижимости
16     289202.704229                            недвижимость
17      90410.586745              строительство недвижимости
18      56823.777243      на покупку подержанного автомобиля
19     242831.107982            на покупку своего автомобиля
20     209552.644578                            недвижимость
21     131812.203909                 приобретение автомобиля
22     149681.140731      на покупку подержанного автомобиля
23     128265.720871                         сыграть свадьбу
24     290547.235997   операции с коммерческой недвижимостью
25      55112.757732                    покупка недвижимости
26               NaN                             образование
27     308848.983691  строительство собственной недвижимости
28     187863.237306  строительство собственной недвижимости
29               NaN        строительство жилой недвижимости
...              ...                                     ...
21495            NaN                                 свадьба
21496  119392.620079                   на покупку автомобиля
21497            NaN              строительство недвижимости
21498  240767.575887                         сыграть свадьбу
21499  157553.158589                                 свадьба
21500   77813.293365   операции с коммерческой недвижимостью
21501   86232.126549                                   жилье
21502            NaN        строительство жилой недвижимости
21503  264250.997662                   заняться образованием
21504   80566.321329              дополнительное образование
21505   75439.993167                         сыграть свадьбу
21506  145541.993320                                 свадьба
21507   98180.279152        сделка с подержанным автомобилем
21508   72638.590915                            недвижимость
21509   73029.059379                операции с недвижимостью
21510            NaN                 приобретение автомобиля
21511  140068.472941                 покупка жилья для сдачи
21512  147301.457769   получение дополнительного образования
21513  250986.142309                           покупка жилья
21514  355988.407188              строительство недвижимости
21515  109486.327999                   заняться образованием
21516  322807.776603                    покупка своего жилья
21517  178059.553491            на покупку своего автомобиля
21518  153864.650328                    сделка с автомобилем
21519  115949.039788       покупка коммерческой недвижимости
21520  224791.862382                       операции с жильем
21521  155999.806512                    сделка с автомобилем
21522   89672.561153                            недвижимость
21523  244093.050500            на покупку своего автомобиля
21524   82047.418899                   на покупку автомобиля

[21525 rows x 12 columns]

### Вывод


1. Очевидные проблемы с регистром, немного NaN-ов
2. Самый странный столбец — трудовой стаж. Данные в нём представлены в трёх видах: NaN-ы, отрицательные числа и неадекатно большие числа. Отрицательные вполне могут быть ошибкой выгрузки, им я поменяю знак. С большими числами всё интереснее: я наблюдаю, что они встречаются, в основном, у людей старшего поколения, пенсионеров. При самом "трудоголичном" сценарии работы с 14 лет до 70, количество рабочих дней равно 20440, но никак не 340266. Однако, у меня есть гипотеза, что в этих  данных трудовой стаж почему-то представлен в часах, а не в днях. Для людей помладше, которые уже числятся пенсионерами, могла быть работа с льготным выходом на пенсию (год за два, например), либо пенсия по инвалидности. Итоговые значения в годах тогда выглядят правдоподобнее.

### Шаг 2. Предобработка данных

### Обработка пропусков

In [2]:
#print(data['children'].value_counts()) - проблема с количеством детей ( -1 и 20 детей). Заменю на 1 и 2 ребенка соответственно.
#print(data['dob_years'].value_counts()) - здесь есть строки с нулевым возрастом, их заменю средним возрастом
#print(data['gender'].value_counts()) - здесь есть непонятное значение, строку с ним удалим, т.к. среднее неприменимо
#print(data['family_status'].value_counts()) - нужно устранить разницу регистров
#print(data['income_type'].value_counts())
#print(data['purpose'].value_counts())
#print(data['total_income'].value_counts()) - пропущенные значения в зарплате заполню медианой
#print(data['days_employed'].value_counts()) - есть NaN, отрицательные числа, слишком большие числа
#print(data['education'].value_counts()) - тут есть дубликаты, но пропусков и странных данных нет


nan_total_income = data['total_income'].isna()
nan_days_employed = data['days_employed'].isna()

nan_check = np.all(nan_total_income.index == nan_days_employed.index)

#хочу заменить все NaN-ы нулями, но сначала проверю, нет ли в исходных данных нулей, чтобы их не изменить

check_null = (data.loc[data.loc[:, 'total_income'] == 0]['total_income'].count()) 

#print(check_null) нулей нет

data['total_income'] = data['total_income'].fillna(0)
check_date = data.loc[data.loc[:, 'total_income'] == 0]


# пропуски в одних и тех же строках, кроме этого никакой зависимости не неблюдаю,
#данные разнообразны в остальных столбцах. Заменяю NaN-ы нулями и в days_employed

data['days_employed'] = data['days_employed'].fillna(0)

# для дальнейших вычислений будет удобнее заменить нули медианами. Но вычислять её по отрицательным данным
# и неадекватно большим числам, думаю, некорректно. Сначала приведём имеющиеся данные в нормальный вид.
# заменяю большие числа на стаж в днях (а не в часах, по моей гипотезе), избавляюсь от минусов:

for element in data['days_employed']: 
    if element > 0:
        new_element = element / 24
        data['days_employed'] = data['days_employed'].replace(element, new_element)
for point in data['days_employed']:         
    if point < 0:
        new_point = point * -1
        data['days_employed'] = data['days_employed'].replace(point, new_point)
        
# теперь считаю медиану и заменяю в days_employed нули ею     
        
days_employed_median = data['days_employed'].median()        
data['days_employed'] = data['days_employed'].replace(0, days_employed_median)
#print (data['days_employed'])  

# аналогично поступаю с нулями в total_income

total_income_median = data['total_income'].median()        
data['total_income'] = data['total_income'].replace(0, total_income_median)
#print (data) 

#заменяю неадекватное количество детей

data['children'] = data['children'].replace(-1, 1)
data['children'] = data['children'].replace(20, 2)
#print(data['children'].value_counts())

# заполняю нулевой возраст средним

dob_years_mean = data['dob_years'].mean()
data['dob_years'] = data['dob_years'].replace(0, dob_years_mean)
data['dob_years'] = data['dob_years'].astype('int')
#print(data['dob_years'].value_counts())

# удаляю строку со странным значением XNA в data['gender']

data = data.loc[data['gender'] != 'XNA']
#print(data['gender'].value_counts())

print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21524 entries, 0 to 21524
Data columns (total 12 columns):
children            21524 non-null int64
days_employed       21524 non-null float64
dob_years           21524 non-null int64
education           21524 non-null object
education_id        21524 non-null int64
family_status       21524 non-null object
family_status_id    21524 non-null int64
gender              21524 non-null object
income_type         21524 non-null object
debt                21524 non-null int64
total_income        21524 non-null float64
purpose             21524 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB
None
   children  days_employed  dob_years education  education_id  \
0         1    8437.673028         42    высшее             0
1         1    4024.803754         36   среднее             1
2         0    5623.422610         33   Среднее             1
3         3    4124.747207         32   среднее             1
4         0   14177.753002         53   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870

                      purpose
0               покупка жилья
1     приобретение автомобиля
2               покупка жилья
3  дополнительное образование
4             сыграть свадьбу

### Вывод

NaN-ы были в столбцах с трудовым стажем и ежемесячным доходом. Я избавилась от пропусков — заполнила их медианой по этому столбцу. Медиану выбрала потому, что разброс значений по обоим столбцам существенный. NaN-ы были в одних и тех же строках - возможно, эти люди работают неофициально, либо не работают, либо это ошибка выгрузки. Пробелы в графах с возрастом заменила средним значением. Заменила странные значения в столбцах с количеством детей и полом на более правдоподобные.

### Замена типа данных

In [3]:
data['total_income'] = data['total_income'].astype('int')
data['days_employed'] = data['days_employed'].astype('int')
#print (data.info())
#print(data.head())

### Вывод

Просто перевела столбцы со стажем и зарплатой в целочисленный тип.

### Обработка дубликатов

In [4]:
data['family_status'] = data['family_status'].str.lower()
data['education'] = data['education'].str.lower()

#print(data['family_status'].value_counts())
#print(data['education'].value_counts())

data_dup = data.duplicated().sum()
print(data_dup)

data = data.drop_duplicates().reset_index(drop=True)

print('How many duplicates are there now?')
data_dup_check = data.duplicated().sum()
print(data_dup_check)

#print(data.info())

71
How many duplicates are there now?
0

### Вывод

Привела к единообразию разницы в регистрах с помощью метода .str.lower(). Они возникали, предположительно, из-за ручного ввода данных: кто-то вводит капсом, кто-то с большой буквы, кто-то прописными. Нужно либо проинструктировать всех сотрудников о способе представления данных, либо убрать ручной ввод и заменить его на выбор из выпадающего списка вариантов.

### Лемматизация

In [5]:
lemmas = {}
purposes = data['purpose'].unique()
for purpose in purposes:
    lemmas[purpose] = m.lemmatize(purpose)[::2]
#print(lemmas)    

lemmas_j = m.lemmatize(" ".join(data['purpose'].values))
lemmas_dict = Counter(lemmas_j)
print (lemmas_dict)

Counter({' ': 55021, 'недвижимость': 6350, 'покупка': 5896, 'жилье': 4460, 'автомобиль': 4306, 'образование': 4013, 'с': 2918, 'операция': 2604, 'свадьба': 2324, 'свой': 2230, 'на': 2222, 'строительство': 1878, 'высокий': 1374, 'получение': 1314, 'коммерческий': 1311, 'для': 1289, 'жилой': 1230, 'сделка': 941, 'дополнительный': 906, 'заниматься': 904, 'подержать': 853, 'проведение': 768, 'сыграть': 765, 'сдача': 651, 'семья': 638, 'собственный': 635, 'со': 627, 'ремонт': 607, 'приобретение': 461, 'профильный': 436, 'подержанный': 111, '\n': 1})

### Вывод

Создала словарь с леммами всех целей выдачи кредита, подсчитала количество лемм для дальнейшей категоризации

### Категоризация данных

In [6]:
# создаю перечень целей кредита с ключевыми словами:

realty_dict = ['недвижимость', 'жилье', 'жилой']
commerce_dict = ['коммерческий', 'сдача']
education_dict = ['образование']
auto_dict = ['автомобиль']
wedding_dict = ['свадьба']

def set_purpose_name(purpose):
    for purpose_name in lemmas[purpose]:
        if purpose_name in realty_dict:
            return 'realty'
        if purpose_name in commerce_dict:
            return 'commerce'
        if purpose_name in education_dict:
            return 'education'
        if purpose_name in auto_dict:
            return 'auto'
        if purpose_name in wedding_dict:
            return 'wedding'

data['purpose_name'] = data['purpose'].apply(set_purpose_name)
#print(data['purpose_name'].head(20))
#print(data['purpose'].head(20))
#print(data.head(15))

#ниже я определю класс дохода каждого человека исходя из его ежемесячного дохода - итого 6 классов

def income_class(income):
    if income < 100000:
        return '0 - 100 000'
    elif income < 200000:
        return '100 000 - 200 000'
    elif income < 300000:
        return '200 000 - 300 000'
    elif income < 400000:
        return '300 000 - 400 000'
    elif income < 500000:
        return '400 000 - 500 000'
    else:
        return 'more 500 000'
    
data['income_name'] = data['total_income'].apply(income_class)
#print(data['income_name'].head(20))
#print(data['total_income'].head(20))   
print(data['income_name'].value_counts())

100 000 - 200 000    11925
0 - 100 000           4463
200 000 - 300 000     3583
300 000 - 400 000      954
400 000 - 500 000      306
more 500 000           222
Name: income_name, dtype: int64

### Вывод

Я выделила пять категорий кредита: жилая недвижимость(она же - недвижимость без указанной цели), коммерческая недвижимость, автокредит, кредит на образование, кредит на свадьбу. Создала столбец purpose_name, где каждой цели кредита присвоила название категории.

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [7]:
data_pivot_children_sum = data.pivot_table(index='children', values = 'debt', aggfunc='sum')
data_pivot_children_count = data.pivot_table(index='children', values = 'debt', aggfunc='count')

data_pivot_children_sum['ratio'] =data_pivot_children_sum['debt'] / data_pivot_children_count['debt']
data_pivot_children = data_pivot_children_sum.drop(columns = 'debt')

def per(number):
    return '{:.2%}'.format(number)

data_pivot_children['ratio'] = data_pivot_children['ratio'].apply(per)

print(data_pivot_children)

#check_chill = (data.loc[data.loc[:, 'children'] == 5])
#print (check_chill)

          ratio
children
0         7.54%
1         9.17%
2         9.49%
3         8.18%
4         9.76%
5         0.00%

### Вывод

Люди с пятью детьми не имеют задолженностей. Полагаю, что в сравнении с ответственностью за такое количество детей, ответственность за своевременную выплату - пустяк. Практически все они — люди семейные.
Бездетные люди, и имеющие троих детей выгоднее отличаются по количествам задолженностей от людей с 1, 2 или 4 детьми. Не думаю, что есть какая-то прямая взаимосвязь между количеством детей от 1 до 4, значения достаточно близки и нужно более глубокое изучение.
Бездетные выплачивают кредит лучше, чем те у кого от 1 до 4 детей. Вероятно, отсутствие трат на детей улучает их платежеспособность.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [8]:
data_pivot_family_sum = data.pivot_table(index='family_status', values = 'debt', aggfunc='sum')
data_pivot_family_count = data.pivot_table(index='family_status', values = 'debt', aggfunc='count')

data_pivot_family_sum['ratio'] =data_pivot_family_sum['debt'] / data_pivot_family_count['debt']
data_pivot_family = data_pivot_family_sum.drop(columns = 'debt')

data_pivot_family['ratio'] = data_pivot_family['ratio'].apply(per)
print(data_pivot_family)

                       ratio
family_status
в разводе              7.11%
вдовец / вдова         6.57%
гражданский брак       9.35%
женат / замужем        7.55%
не женат / не замужем  9.75%

### Вывод

Больше всего задолженностей у незамужних людей и живущих в гражданском браке — вероятно, вступившие в официальный брак люди чувствуют на себе больше ответственности, чем незамужние. Свободные от брака люди проще относятся к обязательствам, они легче на подъём.

Женатые люди, как я сказала выше, более ответственны, кроме того, кредит может помогать выплачивать супруг / супруга. Наверняка и детей у этой категории людей больше, чем у незамужних. А дети тоже накладывают ответственность.

Меньше всего задолженностей у тех, кто потерял близкого человека: вдовы/вдовцы, люди в разводе. Полагаю, это связано с тем, что при потере партнёра они становятся рассудительнее и осторожнее- им теперь не на кого положиться.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [9]:
data_pivot_income_sum = data.pivot_table(index='income_name', values = 'debt', aggfunc='sum')
data_pivot_income_count = data.pivot_table(index='income_name', values = 'debt', aggfunc='count')

data_pivot_income_sum['ratio'] =data_pivot_income_sum['debt'] / data_pivot_income_count['debt']
data_pivot_income = data_pivot_income_sum.drop(columns = 'debt')

data_pivot_income['ratio'] = data_pivot_income['ratio'].apply(per)
print(data_pivot_income)

                   ratio
income_name
0 - 100 000        7.93%
100 000 - 200 000  8.63%
200 000 - 300 000  7.03%
300 000 - 400 000  7.86%
400 000 - 500 000  5.56%
more 500 000       6.31%

### Вывод

Люди с высоким доходом (от 400 000 и более) имеют меньше всего задолженностей — это логично, их доход позволяет им выплачивать кредит вовремя. Хуже всего дело обстоит у людей с низким доходом (0 - 200 000), что тоже объяснимо. А вот в среднем классе (200 000 - 400 000) всё наоборот: люди, чей доход находится  у низшей границы среднего класса выплачивают кредит лучше, чем люди среднего класса с высоким доходом.

Можно заметить, что те, кто находятся у верхней границы своего класса дохода, имеет больше задолженностей, чем те, кто зарабатывает меньше их. Каждое второе значение в столбце ratio больше предыдущего. Казалось бы, у них больше возможностей для выплаты кредита и уровень задолженности должен падать, но нет. Думаю, здесь имеет влияние статусность. Люди стремятся перейти границу своего класса и выглядеть более успешными. Отсюда и больший процент задолженностей — машины, дома, свадьбы, которые люди себе не могут позволить, но хотят выглядеть так, будт могут.

- Как разные цели кредита влияют на его возврат в срок?

In [10]:
#data_pivot_purpose = data.pivot_table(index=['purpose_name'], values='debt', aggfunc='sum')
#print(data_pivot_purpose)

data_pivot_purpose_sum = data.pivot_table(index='purpose_name', values = 'debt', aggfunc='sum')
data_pivot_purpose_count = data.pivot_table(index='purpose_name', values = 'debt', aggfunc='count')

data_pivot_purpose_sum['ratio'] =data_pivot_purpose_sum['debt'] / data_pivot_purpose_count['debt']
data_pivot_purpose = data_pivot_purpose_sum.drop(columns = 'debt')

data_pivot_purpose['ratio'] = data_pivot_purpose['ratio'].apply(per)
print(data_pivot_purpose)

              ratio
purpose_name
auto          9.36%
commerce      7.55%
education     9.22%
realty        7.19%
wedding       8.00%

### Вывод

Меньше всего задолженностей по выплатам за жильё. Я считаю, это связано с тем, что категория достаточно обширная: люди могут брать кредит на  покупку дома, строительство дома, съём или покупку квартиры, на ипотеку, на ремонт. На ремонт кредиты меньше чем на покупку и постройку дома - их выплатить проще. Что касается долгосрочных кредитов на постройку или покупку жилья, здесь может быть ипотека. А в ипотеке обычно так: если нет просрочек, появляются бонусы вплоть до снижения ставки. А при наличии просрочек ставка увеличивается. Вот люди и стараются платить вовремя. 

Почти так же хорошо дело обстоит с коммерческой недвижимостью- вероятно потому, что с неё люди получают доход, которым выплачивают кредит. 

Кредиты за свадьбу выплатить немного труднее, чем за коммерческую недвижимость, но они, как правило, меньше кредитов на недвижимость по сумме и долг погасть легче. А ещё молодожёнам часто дарят деньги.

Кредиты на образование выплачиваются чуть лучше, чем кредиты на автомобиль - насколько мне известно, кредиты на образование можно начинать платить после окончания образования, т.е. обучившийся человек может найти работу и его выплачивать.

Автомобиль - недешёвое удовольствие (бензин, обслуживание, права, штрафы), соответственно, и денег у человека меньше. Эти кредиты выплачиваются хуже всего.

### Шаг 4. Общий вывод

Идеальный портрет человека, который хочет взять кредит, выглядит следующим образом: многодетный одинокий (потерявший супруга или в разводе) человек с высоким уровнем дохода, который собирается взять кредит для жилья или для бизнеса. Могу предполагать, что раз у этого человека высокий доход и много детей (которых он в состоянии обеспечить), он занимается преуспевающим бизнесом, у него есть "предпринимательская жилка", и он собирается развивать свой бизнес. 

Худший вариант заёмщика можно описать так: человек с несколькими детьми (от 1 до 4х детей), живущий в гражданском браке или вообще не замужем / не женат, с доходом чуть ниже среднего, но не очень низким. Он берёт кредит на автомобиль или образование. Его доходы не позволяют в полной мере оплатить кредит, он хочет изменить свою жизнь (получить образование и сменить род деятельности), либо автомобиль ему сильно нужен - это его единственный автомобиль, он нужен ему для работы, либо починить своё авто, без которого он обойтись не может. Ему хватает на жизнь, но на долгосрочные выплаты его текущий заработок не рассчитан.